package templ

templ Form(nonce, title string) {
  @Root(nonce, title) {
    <form method="POST" action="/api/compute">
      <p>
        <label for="home">Home</label>
        <input id="home" name="home" type="text"/>
      </p>
      <p>
        <label for="work">Work</label>
        <input id="work" name="work" type="text"/>
      </p>
      <p>
        <input type="submit" class="primary" value="Compute"/>
      </p>
    </form>
  }
}
