{{ define "public" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ .Title }}</title>
  </head>
  <body>
    <h1>
      <a href="{{ publicURL "/" }}">Indemnités kilométriques Vélo from your Strava rides</a>
    </h1>
    <h1>
      <a href="{{ url "/" }}">Hello {{ .Version }}!</a>
    </h1>

    <form method="POST" action="/api/compute">
      <p>
        <label for="home">Home</label>
        <input id="home" type="text" name="home">
      </p>
      <p>
        <label for="work">Work</label>
        <input id="work" type="text" name="work">
      </p>
    </form>
  </body>
</html>
{{ end }}

{{ define "error" }}
{{ .Message }}
{{ end }}

{{ define "svg-test" }}
color={{ . }}
{{ end }}
